name: CI

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - run: flutter pub get
        working-directory: citta

      - run: flutter analyze
        working-directory: citta

      - run: flutter test
        working-directory: citta

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - run: flutter pub get
        working-directory: citta

      - run: flutter build apk --release
        working-directory: citta

      - uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: citta/build/app/outputs/flutter-apk/app-release.apk
          retention-days: 30
